<div class="row" id="supplier-allocation-content">
    <div class="col-lg-12 col-md-12 col-md-12">
      <div class="card">
        <div class="card-header card-header-rose card-header-icon">
          <div class="card-icon">
            <i class="material-icons">assignment</i>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                    <th class="text-center  text-rose" style="font-weight: 900;" >SL.NO</th>
                    <th class="text-center  text-rose" style="font-weight: 900;" >ID</th>
                    <th class="text-center  text-rose" style="font-weight: 900;" >GUEST NAME</th>
                    <th class="text-center  text-rose" style="font-weight: 900;" >EMAIL</th>
                   
                    <th class="text-center  text-rose" style="font-weight: 900;" >MOBILE</th>
                    <th class="text-center  text-rose" style="font-weight: 900;" >COMPANY</th>
                    
                    <th class="text-center  text-rose" style="font-weight: 900;" >PAYMENT MODE</th>

                    <th class="text-center  text-rose" style="font-weight: 900;" >PAYMENT STATUS</th>
                    <th class="text-center  text-rose" style="font-weight: 900;" >BOOKED DATE</th>
                    <th class="text-center  text-rose" style="font-weight: 900;" >BOOKED BY</th>

                    <th class="text-center  text-rose" style="font-weight: 900;" >STATUS</th>

                    <th class="text-center  text-rose" style="font-weight: 900;" >ACTIONS</th>
                  </tr>
                </thead>
                <tbody>
                  {% for i in data %}
                  
                    <tr>
                      <td class="text-center" style="font-weight: 500;">{{forloop.counter}}</td>
                      <td class="text-center text-capitalize" style="font-weight: 500;">{{i.booking_id}}</td>
                      <td class="text-center text-capitalize" style="font-weight: 500;">{{i.guest_name}}</td>
                      <td class="text-center text-capitalize" style="font-weight: 500;">{{i.email}}</td>
                      
                      <td class="text-center text-capitalize" style="font-weight: 500;">{{i.contact_number}}</td>
                      <td class="text-center text-capitalize" style="font-weight: 500;">{{i.company}}</td>
                      <td class="text-center text-capitalize" style="font-weight: 500;">{{i.payment_mode}}</td>
                      <td class="text-center text-capitalize" style="font-weight: 500;">{{i.payment_status}}</td>
                      <td class="text-center text-capitalize" style="font-weight: 500;">{{i.booked_date}}</td>
                      <td class="text-center text-capitalize" style="font-weight: 500;">{{i.booked_by}}</td>
                      
                      
                        {% if i.status|lower  == "active" %}
                        <td class="text-center text-capitalize" style="font-weight: 800;color:#000080;">{{i.status}}</td>
                        {% endif %}
                        {% if i.status|lower  == "inactive" %}
                        <td class="text-center text-capitalize" style="font-weight: 800;color:#FFA500;">{{i.status}}</td>
                        {% endif %}
                        {% if i.status|lower  == "blocked" %}
                        <td class="text-center text-capitalize" style="font-weight: 800;color:#ff0000;">{{i.status}}</td>
                        {% endif %}

                      <td class="td-actions text-center">
                        
                        <button type="button" rel="tooltip" class="btn btn-info" >
                            <i class="material-icons"><a href="{% url "booking_details" i.booking_id %}" style="color: white;">visibility</a></i>
                        </button>
                        
                        {% comment %} <button type="button" rel="tooltip" class="btn btn-success">
                          <a href="editsupplier/{{i.supplier_id}}/" style="color: white;"><i class="material-icons">edit</i></a>
                        </button> {% endcomment %}

                        <button type="button" rel="tooltip" class="btn btn-success" data-toggle="modal" data-target="#editModal{{i.booking_id}}" onclick="openEditModal('{{i.booking_id}}')"> <i class="material-icons">edit</i> </button>


                        <button type="button" rel="tooltip" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{i.booking_id}}" onclick="openDeleteModal('{{i.booking_id}}')"> <i class="material-icons">close</i> </button>
                        
                      </td>
                      <td class="text-center text-capitalize" style="font-weight: 500;"></td>

                  </tr>

                <div
                    class="modal"
                    id="editModal{{i.booking_id}}"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="editModalLabel{{i.booking_id}}"
                    aria-hidden="true"
                    
                    
                  >
                    <div class="modal-dialog extra-large-modal" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3
                            class="modal-title font-weight-bold"
                            id="editModalLabel{{i.booking_id}}"
                          >
                            Edit Booking 
                          </h3>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div
                          class="modal-body"
                          id="modal-content-{{i.booking_id}}"
                        >
                          <!-- Form will be loaded here -->
                        </div>
                      </div>
                    </div>
                  </div>
                
                <div
                class="modal "
                id="deleteModal{{i.booking_id}}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="deleteModalLabel{{i.booking_id}}"
                aria-hidden="true"
                
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3
                        class="modal-title text-primary font-weight-bold"
                        id="deleteModalLabel{{i.booking_id}}"
                      >
                        Delete Booking 
                      </h3>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div
                      class="modal-body"
                      id="modal-content-{{i.booking_id}}"
                    >
                      <h3 class="text-center font-weight-bold">Are you sure?</h3>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary font-weight-bold"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                      <button
                        type="button"
                        class="btn btn-primary font-weight-bold"
                        id="deleteBtn{{i.booking_id}}"
                        onclick="deleteItem('{{i.booking_id}}')"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>