<style>
  .select2-container .select2-selection--multiple {
    height: 45px !important; /* Set height */
    border: none !important; /* Remove border */
    border-bottom: 2px solid #ccc !important;
    display: flex;
    align-items: center;
    overflow: hidden;
}
</style>



<div class="card">
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
          <i class="material-icons">edit</i>
      </div>
    </div>
    <div class="card-body">

        

        <form action="{% url "edit_guide" form.instance.guide_id %}" method="post" enctype="multipart/form-data" class="form-horizontal text-black" id="supp-form">
          {% csrf_token %}
          <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
            <h6 class="text-center font-weight-bold mb-4 mt-2">Guide Details</h6>
          <div class="row mt-4">
            <div class="col-4">

              <div class="form-group">
                <label for="" class="text-black">Guide Name</label>

                {{form.name}} {% if form.name.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.name.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>
            
            <div class="col-4">
              <div class="row">
                <label class="form-check-label text-black mb-3">Licensed Area</label>

                <div class="col-3">
                  <div class="form-check">
                    <label class="form-check-label text-black">
                        {{ form.abudhabi_license }}  Abu Dhabi<span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-check">
                    <label class="form-check-label text-black">
                        {{ form.dubai_license }}Dubai<span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-check">
                    <label class="form-check-label text-black">
                        {{ form.rak_license }}RAK<span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-check">
                    <label class="form-check-label text-black">
                        {{ form.sharjah_license }}Sharjah<span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-check">
                    <label class="form-check-label text-black">
                        {{ form.fujairah_license }}Fujairah<span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
               
              </div>


              <div class="col-4">
                <div class="form-group">
                  <label for="" class="text-black">Email</label>

                  {{form.email}} {% if form.email.errors %}
                  <ul class="errorlist text-primary text-bold">
                    {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
              </div>
            
            
          </div>
          
          <div class="row mt-4">
           

            <div class="col-4">
              <div class="form-group">
                <label for="" class="text-black">Mobile 1</label>

                {{form.mobile1}} {% if form.mobile1.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.mobile1.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
            </div>

            <div class="col-4">
                <div class="form-group">
                  <label for="" class="text-black">Mobile 2</label>

                  {{form.mobile2}} {% if form.mobile2.errors %}
                  <ul class="errorlist text-primary text-bold">
                    {% for error in form.mobile2.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label for="" class="text-black">Whatsapp 1</label>

                  {{form.whatsapp1}} {% if form.whatsapp1.errors %}
                  <ul class="errorlist text-primary text-bold">
                    {% for error in form.whatsapp1.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
              </div>

             

            

          </div>

          <div class="row mt-4">
           

            

            <div class="col-4">
                <div class="form-group">
                  <label for="" class="text-black">Whatsapp 2</label>

                  {{form.whatsapp2}} {% if form.whatsapp2.errors %}
                  <ul class="errorlist text-primary text-bold">
                    {% for error in form.whatsapp2.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
              </div>

              

          </div>

        </div>
        <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
          <h6 class="text-center font-weight-bold mb-4 mt-2">License Details</h6>
          <div class="row mt-4">
              <div class="col-4">
              <div class="form-group">
                <label for="" class="text-black">License Number</label>

                {{form.license_number}} {% if form.license_number.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.license_number.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              </div>
              <div class="col-4">
              <div class="form-group">
                <label for="" class="text-black">License Expiry</label>

                {{form.license_expiry}} {% if form.license_expiry.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.license_expiry.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              </div>
              <div class="col-4">
                <label for="" class="text-black mb-3">Upload License Copy</label>
                {{form.license_copy}} 
              <div class="form-group">
                {% if form.license_copy.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.license_copy.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              </div>
            </div> 
          </div>
          
          <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
            <h6 class="text-center font-weight-bold mb-4 mt-2">Passport Details</h6>
          <div class="row mt-4">
           
              <div class="col-4">
              <div class="form-group">
                <label for="" class="text-black">Passport Number</label>

                {{form.passport_number}} {% if form.passport_number.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.passport_number.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              </div>
              <div class="col-4">
              <div class="form-group">
                <label for="" class="text-black">Passport Expiry</label>

                {{form.passport_expiry}} {% if form.passport_expiry.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.passport_expiry.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              </div>
              <div class="col-4">
                <label for="" class="text-black mb-3">Upload Passport Document</label>
                {{form.passport}}
              <div class="form-group">
                 {% if form.passport.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.passport.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              </div>
            </div> 
          </div>
          <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
            <h6 class="text-center font-weight-bold mb-4 mt-2">Emirates ID Details</h6>
          <div class="row mt-4">
            
              <div class="col-4">
              <div class="form-group">
                <label for="" class="text-black">Emirates ID Number</label>

                {{form.emirates_id_number}} {% if form.emirates_id_number.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.emirates_id_number.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              </div>
              <div class="col-4">
              <div class="form-group">
                <label for="" class="text-black">Emirates ID Expiry</label>

                {{form.emirates_id_expiry}} {% if form.emirates_id_expiry.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.emirates_id_expiry.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              </div>
              <div class="col-4">
                <label for="" class="text-black mb-3">Upload Emirates ID Document</label>
                {{form.emirates_id}} 
              <div class="form-group">
                {% if form.emirates_id.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.emirates_id.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              </div>
            </div> 
          </div>
          <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
            <h6 class="text-center font-weight-bold mb-4 mt-2">Visa Details</h6>
          <div class="row mt-4">
            
              <div class="col-4">
              <div class="form-group">
                <label for="" class="text-black">Visa Number</label>

                {{form.visa_number}} {% if form.visa_number.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.visa_number.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              </div>
              <div class="col-4">
              <div class="form-group">
                <label for="" class="text-black">Visa Expiry</label>

                {{form.visa_expiry}} {% if form.visa_expiry.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.visa_expiry.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              </div>
              <div class="col-4">
                <label for="" class="text-black mb-3">Upload Visa Document</label>
                {{form.visa}} 
              <div class="form-group">
                {% if form.visa.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.visa.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              </div>
            </div>
           
          </div>
          
          <div class="row mt-1">
            
              
              <div class="col-4">
                <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
                  <h6 class="text-center font-weight-bold mb-4 mt-2">Photo</h6>
                <label for="" class="text-black mb-3">Upload Photo</label>
                {{form.photos}}
              <div class="form-group">
                 {% if form.photos.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.photos.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              </div>
            </div>
              <div class="col-4">
                <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
                  <h6 class="text-center font-weight-bold mb-4 mt-2">Language</h6>
              <div class="form-group">
                <label for="" class="text-black mb-3">Language</label>

                {{form.language}} {% if form.language.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.language.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              </div>
            </div>
              <div class="col-4">
                <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
                  <h6 class="text-center font-weight-bold mb-4 mt-2">Guide Status </h6>
              <div class="form-group">
                <label for="" class="text-black mb-4">Status</label>

                {{form.status}} {% if form.status.errors %}
                <ul class="errorlist text-primary text-bold">
                  {% for error in form.status.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div>
              </div>
            </div>
           
          </div>



          <div class="row mt-5">
            <div class="col-3"></div>
            <div class="col-6">
              <button type="submit" class="btn btn-rose w-100">
                Edit Guide
              </button>
            </div>
            <div class="col-3"></div>
          </div>
    </form>
</div>
</div>
</div>



<script>  


// Reinitialize Select2 when form content is loaded



$(document).ready(function() {

// Handle form submission via AJAX
$('#supp-form').submit(function(event) {
event.preventDefault();  // Prevent the form from submitting the traditional way

var form = $(this);
var formData = new FormData(this);  // Get form data including files

$.ajax({
    url: form.attr('action'),  // Use the action URL from the form
    type: 'POST',
    data: formData,
    processData: false,  // Important for uploading files
    contentType: false,  // Important for uploading files
    success: function(response) {
        if (response.status === 'success') {
            // Hide the modal
            $('#editModal').modal('hide');
            
            // Remove the backdrop
            $('.modal-backdrop').remove(); 
            
            // Update the supplier allocation table dynamically
            $('#supplier-allocation-content').html(response.updated_table_html);
            
            // Optionally show a success message
            $('#success-message').fadeIn().delay(3000).fadeOut();
        } else {
            // Handle error message (you can show a message inside the modal or elsewhere)
            alert('There was an error editing the allocation.');
        }
    },
    error: function(xhr, status, error) {
        console.error("Error: " + error);
        alert('An error occurred. Please try again later.');
    }
});
});

// Ensure the Edit button triggers the modal opening and form loading
// Use event delegation to ensure new elements get the event handler
$(document).on('click', '.edit-btn', function() {
var allocationId = $(this).data('id');  // Get the ID from the button's data-id attribute

// Show loading indicator inside modal
$("#modal-content-" + allocationId).html("<p>Loading...</p>");

// Perform AJAX request to fetch the form
$.ajax({
    url: "/edit_guide/" + allocationId + "/",
    type: "GET",
    success: function(response) {
        // On success, load the form HTML into the modal body
        $("#modal-content-" + allocationId).html(response.form_html);
        
        // Open the modal after content is loaded
        $('#editModal').modal('show');

        setTimeout(function () {
          $('#id_language').select2();
        }, 100);
    },
    error: function(xhr, status, error) {
        // Handle error and show an error message in the modal
        $("#modal-content-" + allocationId).html(
            "<p>There was an error fetching the form. Please try again later.</p>"
        );
        console.error("There was an error fetching the form: ", error);
    }
});
});
});


  

</script> 




