
<div class="card">
    <div class="card-header card-header-rose card-header-icon">
      <div class="card-icon">
          <i class="material-icons">edit</i>
      </div>
    </div>
    <div class="card-body">


            <form action="{% url "edit_package" form.instance.package_id %}" method="post" enctype="multipart/form-data" class="form-horizontal text-black" id="supp-form">
              {% csrf_token %}
              <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
                <h6 class="text-center font-weight-bold mb-3 mt-2">Package Details</h6>
              <div class="row mt-3">
                <div class="col-4">
                  <div class="form-group">
                    <label for="" class="text-black">Package Code</label>
    
                    {{form.package_code}} {% if form.package_code.errors %}
                    <ul class="errorlist text-primary text-bold">
                      {% for error in form.package_code.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="" class="text-black">Package Title</label>
    
                    {{form.package_title}} {% if form.package_title.errors %}
                    <ul class="errorlist text-primary text-bold">
                      {% for error in form.package_title.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="" class="text-black">Package Category</label>
    
                    {{form.package_category}} {% if form.package_category.errors %}
                    <ul class="errorlist text-primary text-bold">
                      {% for error in form.package_category.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
                
              </div>
              <div class="row mt-3">
                <div class="col-4">
                  <div class="form-group">
                    <label for="" class="text-black">Package City</label>
    
                    {{form.package_city}} {% if form.package_city.errors %}
                    <ul class="errorlist text-primary text-bold">
                      {% for error in form.package_city.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="" class="text-black">Web Id</label>
    
                    {{form.web_id}} {% if form.web_id.errors %}
                    <ul class="errorlist text-primary text-bold">
                      {% for error in form.web_id.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="" class="text-black">Web SKU</label>
    
                    {{form.web_sku}} {% if form.web_sku.errors %}
                    <ul class="errorlist text-primary text-bold">
                      {% for error in form.web_sku.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
                
              </div>
    
              <div class="row mt-3">
                <div class="col-4">
                  <div class="form-group">
                    <label for="" class="text-black">Website Link</label>
    
                    {{form.website_link}} {% if form.website_link.errors %}
                    <ul class="errorlist text-primary text-bold">
                      {% for error in form.website_link.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
    
                <div class="col-4">
                  <div class="form-group">
                    <label for="" class="text-black">Location</label>
    
                    {{form.location}} {% if form.location.errors %}
                    <ul class="errorlist text-primary text-bold">
                      {% for error in form.location.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
    
                <div class="col-4">
                  <div class="form-group">
                    <label for="" class="text-black">Transportation</label>
    
                    {{form.transportation}} {% if form.transportation.errors %}
                    <ul class="errorlist text-primary text-bold">
                      {% for error in form.transportation.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
    
              </div>
            </div>
            <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
              <h6 class="text-center font-weight-bold mb-3 mt-2">Description & Highlights</h6>
              <div class="row mt-3">
                
                  <div class="form-group">
                    <label for="" class="text-black">Short Description</label>
    
                    {{form.short_description}} 
                    {% if form.short_description.errors%}
                    <ul class="errorlist text-primary text-bold">
                      {% for error in form.short_description.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                
              </div>
    
              <div class="row mt-3"> 
                  <div class="form-group">
                    <label for="" class="text-black">Highlights</label>
    
                    {{form.highlights}} {% if form.highlights.errors %}
                    <ul class="errorlist text-primary text-bold">
                      {% for error in form.highlights.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
    
              </div>
    
              <div class="row mt-3">
                
                  <div class="form-group">
                    <label for="" class="text-black">Description</label>
    
                    {{form.description}} {% if form.description.errors %}
                    <ul class="errorlist text-primary text-bold">
                      {% for error in form.description.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
               
              </div>
    
              <div class="row mt-3">
                
                  <div class="form-group">
                    <label for="" class="text-black">Inclusions</label>
    
                    {{form.inclusions}} {% if form.inclusions.errors %}
                    <ul class="errorlist text-primary text-bold">
                      {% for error in form.inclusions.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                
              </div>
    
              <div class="row mt-3">
                
                  <div class="form-group">
                    <label for="" class="text-black">Exclusions</label>
    
                    {{form.exclusions}} {% if form.exclusions.errors %}
                    <ul class="errorlist text-primary text-bold">
                      {% for error in form.exclusions.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                
              </div>
            </div>
    
            
    
              <div class="row mt-3">
                
                <div class="col-6">
                  <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
                    <h6 class="text-center font-weight-bold mb-4 mt-2">Days of operation</h6>
                    <div class="row">
                      <div class="col-2">
                        <div class="form-check">
                          <label class="form-check-label text-black">
                              {{ form.sunday }}  Sunday                                        <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-check">
                          <label class="form-check-label text-black">
                              {{ form.monday }}  Monday                                        <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-check">
                          <label class="form-check-label text-black">
                              {{ form.tuesday }}  Tuesday                                        <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-check">
                          <label class="form-check-label text-black">
                              {{ form.wednesday }}  Wednesday                                        <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-check">
                          <label class="form-check-label text-black">
                              {{ form.thursday }}  Thursday                                        <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-check">
                          <label class="form-check-label text-black">
                              {{ form.friday }}  Friday                                        <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-check">
                          <label class="form-check-label text-black">
                              {{ form.saturday }}  Saturday                                        <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </div>
                    </div>
    
                  </div>
                </div>
    
                <div class="col-6">
                  <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
                    <h6 class="text-center font-weight-bold mb-4 mt-2">Open Hours</h6>
                    <div class="form-group">
                      <label for="" class="text-black">Open Hours</label>
    
                      {{form.open_hours}} {% if form.open_hours.errors %}
                      <ul class="errorlist text-primary text-bold">
                        {% for error in form.open_hours.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                    </div>
                </div>
              </div>
            </div>
    
    
              
    
              <div class="row">
                <div class="col-6 mt-2">
                  <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
                    <h6 class="text-center font-weight-bold mb-4 mt-2">Price Details</h6>
    
                  
                  <div class="row mt-3">
                    <div class="col-4">
                      <div class="form-group">
                          <label for="" class="text-black">Adult</label>
                          {{form.adult_rate}} {% if form.adult_rate.errors %}
                          <ul class="errorlist text-primary text-bold">
                            {% for error in form.adult_rate.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
    
                        </div>
                        
                      </div>
                    
                    <div class="col-4">
                      <div class="form-group">
                        <label for="" class="text-black">Child</label>
                        {{form.child_rate}} {% if form.child_rate.errors %}
                          <ul class="errorlist text-primary text-bold">
                            {% for error in form.child_rate.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
    
                      </div>
                      
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="" class="text-black">Infant</label>
                        {{form.infant_rate}} {% if form.infant_rate.errors %}
                          <ul class="errorlist text-primary text-bold">
                            {% for error in form.infant_rate.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
    
                      </div>
                      
                    </div>
                  </div>
                </div>
                </div>
                
                <div class="col-6 mt-2">
                  <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
                    <h6 class="text-center font-weight-bold mb-4 mt-2">Age Details</h6>
                  <div class="row mt-3">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="" class="text-black">Adult</label>
                        {{form.adult_age}} {% if form.adult_age.errors %}
                          <ul class="errorlist text-primary text-bold">
                            {% for error in form.adult_age.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                      </div>
                    </div>
                    
                    <div class="col-4">
                      <div class="form-group">
                        <label for="" class="text-black">Child</label>
                        {{form.child_age}} {% if form.child_age.errors %}
                          <ul class="errorlist text-primary text-bold">
                            {% for error in form.child_age.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label for="" class="text-black">Infant</label>
                        {{form.infant_age}} 
                          {% if form.infant_age.errors %}
                          <ul class="errorlist text-primary text-bold">
                            {% for error in form.infant_age.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                      </div>
                    </div>
                  </div>
                    
                  </div>
                </div>
                
              </div>
    
              
              <div class="row mt-3">
    
                <div class="col-6">
                  <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
                    <h6 class="text-center font-weight-bold mb-3 mt-2">Language</h6>
                  <div class="form-group">
                    <label for="" class="text-black">Language</label>
    
                    {{form.language}} {% if form.language.errors %}
                    <ul class="errorlist text-primary text-bold">
                      {% for error in form.language.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
                </div>
    
                <div class="col-6">
                  <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
                    <h6 class="text-center font-weight-bold mb-3 mt-2">Package Status</h6>
                  <div class="form-group">
                    <label for="" class="text-black mt-3">Status</label>
    
                    {{form.status}} {% if form.status.errors %}
                    <ul class="errorlist text-primary text-bold">
                      {% for error in form.status.errors %}
                      <li>{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                </div>
    
                
                </div>
              </div>
              
    
              <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
                <h6 class="text-center font-weight-bold mb-3 mt-2">Images & Videos</h6>
              
                <div class="row ml-1 mr-3 ">
    
                  <div class="col-6 mt-3">
                    <label for="{{ form.image_link.id_for_label }}" class="text-black">Image Link</label>
                    {{form.image_link}}
                    {% if form.image_link.errors %}
                          <ul class="errorlist text-primary text-bold">
                            {% for error in form.image_link.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                    {% endif %}
                  </div>
                  <div class="col-6 mt-3">
                    <label for="{{ form.video_link.id_for_label }}" class="text-black">Video Link</label>
                    {{form.video_link}}
                    {% if form.video_link.errors %}
                          <ul class="errorlist text-primary text-bold">
                            {% for error in form.video_link.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                    {% endif %}
                  </div>
                  
                </div>
              
    
              <div class="row mt-3">
                <div class="row mt-3 ml-3">
                  <div class="col-4">
                    <label for="{{ imageform.image.id_for_label }}" class="text-black">Images</label>
                    {{imageform.as_p}}
                  </div>
                  <div class="col-4">
                    <label for="{{ heroimageform.image.id_for_label }}" class="text-black">Hero Images</label>
                    {{heroimageform.as_p}}
                  </div>
                  <div class="col-4">
                    <label for="{{ videoform.image.id_for_label }}" class="text-black">Videos</label>
                    {{videoform.as_p}}
                  </div>
                </div>
              </div>
            </div>
    
              <div class="row mt-5">
                <div class="col-3"></div>
                <div class="col-6">
                  <button type="submit" class="btn btn-rose w-100">
                    Edit Package
                  </button>
                </div>
                <div class="col-3"></div>
              </div>
              </form>
</div>
</div>
</div>



<script>  

$(document).ready(function() {
// Handle form submission via AJAX
$('#supp-form').submit(function(event) {
event.preventDefault();  // Prevent the form from submitting the traditional way

var form = $(this);
var formData = new FormData(this);  // Get form data including files

$.ajax({
    url: form.attr('action'),  // Use the action URL from the form
    type: 'POST',
    data: formData,
    processData: false,  // Important for uploading files
    contentType: false,  // Important for uploading files
    success: function(response) {
        if (response.status === 'success') {
            // Hide the modal
            $('#editModal').modal('hide');
            
            // Remove the backdrop
            $('.modal-backdrop').remove(); 
            
            // Update the supplier allocation table dynamically
            $('#supplier-allocation-content').html(response.updated_table_html);
            
            // Optionally show a success message
            $('#success-message').fadeIn().delay(3000).fadeOut();
        } else {
            // Handle error message (you can show a message inside the modal or elsewhere)
            alert('There was an error editing the allocation.');
        }
    },
    error: function(xhr, status, error) {
        console.error("Error: " + error);
        alert('An error occurred. Please try again later.');
    }
});
});

// Ensure the Edit button triggers the modal opening and form loading
// Use event delegation to ensure new elements get the event handler
$(document).on('click', '.edit-btn', function() {
var allocationId = $(this).data('id');  // Get the ID from the button's data-id attribute

// Show loading indicator inside modal
$("#modal-content-" + allocationId).html("<p>Loading...</p>");

// Perform AJAX request to fetch the form
$.ajax({
    url: "/edit_package/" + allocationId + "/",
    type: "GET",
    success: function(response) {
        // On success, load the form HTML into the modal body
        $("#modal-content-" + allocationId).html(response.form_html);
        
        // Open the modal after content is loaded
        $('#editModal').modal('show');
    },
    error: function(xhr, status, error) {
        // Handle error and show an error message in the modal
        $("#modal-content-" + allocationId).html(
            "<p>There was an error fetching the form. Please try again later.</p>"
        );
        console.error("There was an error fetching the form: ", error);
    }
});
});
});

</script> 


