
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
                <i class="material-icons">edit</i>
            </div>
          </div>
          <div class="card-body">

          
          <form action="{% url "editcategory" form.instance.category_id %}" method="post" enctype="multipart/form-data" class="form-horizontal text-black" id="supp-form">
            {% csrf_token %}
            <div class="text-black align-items-center">
                <div class="package rounded border pt-3 pl-3 pr-3 pb-4 mt-3">
                <div class="col-md-12">

                    <div class=" form-group">
                        <label for="id_category_name" class="text-black">Category</label>

                        {{ form.category_name }}
                    </div>
                </div>
                </div>


              <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-5">
                <h5 class="text-center font-weight-bold  mt-4 mb-5 text-uppercase">Mark the Required Fields Only</h5>
                <div class="row pl-3">
                    
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.date }}  Trip Date                                        <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>

                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.time }}  Trip time                                        <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>

                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.remark }} Remark                                       <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>

                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.no_of_adult }}  No : Adult                                        <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.no_of_child }}  No : Child                                      <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>

                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.no_of_infant }}  No : Infant                                        <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>

                    </div>
                  
                    

                </div>
                <div class="row pl-3">
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.rate_of_adult }}  Rate : Adult                                        <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>

                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.rate_of_child }}  Rate : Child                                        <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>

                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.rate_of_infant }}  Rate : Infant                                        <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>

                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.pickup_location }}  Pickup Location                                        <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.pickup_time }}  Pickup Time                                        <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>

                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.drop_location }}  Drop Location                                        <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>

                    </div>
          
                    

                </div>

                <div class="row pl-3">
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.room_no }}  Room No :                                        <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>

                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.transfer_type }}  Transfer Type                                        <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>

                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.vehicle_type }}  Vehicle Type                                        <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>

                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.vehicle_name }}  Vehicle Name                                        <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.no_of_luggage }}  No : Luggage                                        <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>

                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <label class="form-check-label text-black">
                                {{ form.flight_time }}  Flight Time                                        <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>

                    </div>
          
                    

                </div>
                    
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-4"></div>
                <div class="col-lg-4 col-md-4 col-12">
                    <button class="btn btn-square btn-rose w-100 mt-4" type="submit">EDIT CATEGORY</button>
                </div>
                <div class="col-4"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    


<script>  
 
$(document).ready(function() {
  // Handle form submission via AJAX
  $('#supp-form').submit(function(event) {
      event.preventDefault();  // Prevent the form from submitting the traditional way
      
      var form = $(this);
      var formData = new FormData(this);  // Get form data including files
      
      $.ajax({
          url: form.attr('action'),  // Use the action URL from the form
          type: 'POST',
          data: formData,
          processData: false,  // Important for uploading files
          contentType: false,  // Important for uploading files
          success: function(response) {
              if (response.status === 'success') {
                  // Hide the modal
                  $('#editModal').modal('hide');
                  
                  // Remove the backdrop
                  $('.modal-backdrop').remove(); 
                  
                  // Update the supplier allocation table dynamically
                  $('#supplier-allocation-content').html(response.updated_table_html);
                  
                  // Optionally show a success message
                  $('body').removeClass('modal-open');

                  document.body.style.paddingRight = '0';
                  
                  $('#success-message').fadeIn().delay(3000).fadeOut();
              } else {
                  // Handle error message (you can show a message inside the modal or elsewhere)
                  alert('There was an error editing the allocation.');
              }
          },
          error: function(xhr, status, error) {
              console.error("Error: " + error);
              alert('An error occurred. Please try again later.');
          }
      });
  });

  // Ensure the Edit button triggers the modal opening and form loading
  // Use event delegation to ensure new elements get the event handler
  $(document).on('click', '.edit-btn', function() {
      var allocationId = $(this).data('id');  // Get the ID from the button's data-id attribute
      
      // Show loading indicator inside modal
      $("#modal-content-" + allocationId).html("<p>Loading...</p>");

      // Perform AJAX request to fetch the form
      $.ajax({
          url: "/editcategory/" + allocationId + "/",
          type: "GET",
          success: function(response) {
              // On success, load the form HTML into the modal body
              $("#modal-content-" + allocationId).html(response.form_html);
              
              // Open the modal after content is loaded
              $('#editModal').modal('show');
          },
          error: function(xhr, status, error) {
              // Handle error and show an error message in the modal
              $("#modal-content-" + allocationId).html(
                  "<p>There was an error fetching the form. Please try again later.</p>"
              );
              console.error("There was an error fetching the form: ", error);
          }
      });
  });
});

</script> 


