{% extends "base.html" %}
{% block content %}


<style>
    .alertmessage{
        position: fixed; 
        top: 1px; 
        left:55%;
        transform: translateX(-50%); 
        padding: 30px 30px; 
        background-color: #4CAF50; 
        color: white; 
        font-size: 16px; 
        border-radius: 3px; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        z-index: 1000; 
        width: 50%; /* This makes the alert have the same width as col-6 */
    }
</style>

<div class="content">
    <div class="container-fluid">
        <div class="row text-center">
            <h3 class="font-weight-bold" style="font-family:poppins,serif;color:#000;">Add New Payment Mode</h3>
        </div>
        <div class="row">
          
            <!-- Success message container -->
            <div id="success-message" class="alert alert-success text-center font-weight-bold alertmessage" role="alert" style="display: none; margin-top: 20px;">
                Payment Mode added successfully!
            </div>

            <div id="error-message" class="alert alert-danger text-center font-weight-bold alertmessage" role="alert" style="display: none; margin-top: 20px;">
              
            </div>
          
        </div>
        <div class="row mt-4">
            
            <div class="col-3"></div>
            <div class="col-lg-6 col-md-12 col-md-12 pt-3 text-black">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">add</i>
                        </div>
                    </div>
                    <div class="card-body">
                        <form  enctype="multipart/form-data" action="{% url 'addpaymentmode' %}" method="post" id="lang-form">
                            {% csrf_token %}

                            <div class="package rounded border pt-3 pl-3 pr-3 pb-5 mt-3">
                            
                                <div class="col-md-12">
                                    <div class=" form-group">
                                        <label for="id_payment_mode" class="text-black">Payment Mode</label>

                                        {{ form.payment_mode }}
                                    </div>
                                </div>
                            </div>
                                
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <button class="btn btn-square btn-rose w-100 mt-4" type="submit">ADD</button>
                                </div>
                                <div class="col-4"></div>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="col-3"></div>

            <div class="container mt-5">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-lg-8 col-md-12 col-md-12">
                        <h3 class="card-title text-center mb-5" style="font-weight: 500;">Existing Payment Modes</h3>
                        <div class="card">
                            <div class="card-header card-header-rose card-header-icon">
                                <div class="card-icon">
                                    <i class="material-icons">assignment</i>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table" id="language-table">
                                        <thead>
                                            <tr>
                                                <th class="text-center text-rose" style="font-weight: 900;">SL.NO</th>
                                                <th class="text-center text-rose" style="font-weight: 900;">ID</th>
                                                <th class="text-center text-rose" style="font-weight: 900;">PAYMENT MODE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in data %}
                                                <tr>
                                                    <td class="text-center" style="font-weight: 500;">{{ forloop.counter }}</td>
                                                    <td class="text-center text-capitalize" style="font-weight: 500;">{{ i.payment_id }}</td>
                                                    <td class="text-center text-capitalize" style="font-weight: 500;">{{ i.payment_mode }}</td>
                                                    
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
let form = document.getElementById('lang-form');
form.addEventListener('submit', function(event) {
    event.preventDefault();
    $.ajax({
        type: "POST",
        url: "{% url 'addpaymentmode' %}",
        data: $(form).serialize(),
        dataType: "json",
        success: function(response) {
            console.log("AJAX request successful:", response);
            if (response.success) {
                updateTable(response.payments);
                showSuccessMessage();
                form.reset();
            } else {
                showErrorMessage(response.errors);
                console.log("Form submission errors:", response.errors);
            }
        },
        error: function(xhr, status, error) {
            showErrorMessage("An Unexpected Error Occurs Please Try Again Later");
            console.error("AJAX request failed:", status, error);
            console.log("Response Text:", xhr.responseText);
        }
    });
});

function updateTable(payments) {
    console.log("Updating table with new data:", payments);
    let tableBody = document.querySelector('#language-table tbody');
    tableBody.innerHTML = '';
    payments.forEach(function(payment, index) {
        let row = `<tr>
            <td class="text-center" style="font-weight: 500;">${index + 1}</td>
            <td class="text-center text-capitalize" style="font-weight: 500;">${payment.payment_id}</td>
            <td class="text-center text-capitalize" style="font-weight: 500;">${payment.payment_mode}</td>
            
        </tr>`;
        tableBody.insertAdjacentHTML('beforeend', row);
    });
}

function showSuccessMessage() {
    let successMessage = document.getElementById('success-message');
    successMessage.style.display = 'block';

    // Hide the message after 3 seconds
    setTimeout(function() {
        successMessage.style.display = 'none';
    }, 3000);
}

function showErrorMessage(errors) { 
  let errorMessage = document.getElementById('error-message'); 
  errorMessage.innerHTML = ''; 
  if (typeof errors === 'string') { 
    errorMessage.innerHTML = errors; 
  } 
  else { 
    for (let key in errors) { 
      if (errors.hasOwnProperty(key)) { 
        let errorText = `${errors[key]}`; 
        let errorItem = document.createElement('div'); 
        errorItem.innerText = errorText; errorMessage.appendChild(errorItem);
       } 
      } 
    }
    errorMessage.style.display = 'block';
     // Hide the message after 5 seconds 
     setTimeout(function() { errorMessage.style.display = 'none'; }, 5000); 
 }



   

</script>

{% endblock content %}
